torch
torchvision
numpy<2
scikit-image
#anaconda
fastapi
uvicorn
cmake
#conda-forge
ffmpeg
svgwrite
svgpathtools
cssutils
numba
torch-tools
scikit-fmm
easydict
visdom
opencv-python
lpips
cairosvg
jinja2
timm