torch==2.5.1+cu121
torchvision0.20.1+cu121
numpy<2
scikit-image
#anaconda
fastapi
uvicorn
cmake
#conda-forge
ffmpeg
svgwrite
svgpathtools
cssutils
numba
torch-tools==0.1.5
scikit-fmm
easydict
#visdom
opencv-python
lpips
cairosvg
jinja2
timm