torch==2.5.1+cu121
torchvision==0.20.1+cu121
scipy
pillow
pytorch_msssim==1.0.0
svgwrite
fastapi
numpy<2
uvicorn
python-multipart
jinja2
argparse
werkzeug
opencv-python
matplotlib
scikit-image
depth-anything-3