torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
numpy<2
opencv-python
segment-anything==1.0
git+https://github.com/ByteDance-Seed/Depth-Anything-3.git
diffusers
huggingface-hub
transformers
accelerate