# Web server
fastapi>=0.110
uvicorn[standard]>=0.29

# Async + config
python-dotenv>=1.0
aiohttp>=3.9

# Image processing
pillow>=10.0
numpy<2

# Deep learning
torch>=2.0
einops>=0.7

pycocotools>=2.0.11
psutil>=7.1.3
decord>=0.6.0
opencv-python
matplotlib
pandas
scikit-image
scikit-learn

svgwrite
svgpathtools
cssutils
numba
torch-tools
scikit-fmm
easydict
visdom
python-multipart