name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v5
        with:
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
          remove-large-packages: 'true'
          remove-cached-tools: 'true'
          remove-swapfile: 'true'

      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: . # The directory containing the Dockerfile
          push: true
          tags: ${{ vars.DOCKER_HUB_USERNAME }}/runpod-sam3:latest, ${{ vars.DOCKER_HUB_USERNAME }}/runpod-sam3:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
